<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000260722803-lolgr9k0kc511kfg06th3q9dtnc9are9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000260722803-lolgr9k0kc511kfg06th3q9dtnc9are9</string>
	<key>API_KEY</key>
	<string>AIzaSyBj-9x8DPm7da2yPR9zXIKEB7psGtUJ2jI</string>
	<key>GCM_SENDER_ID</key>
	<string>1000260722803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.transfa.business</string>
	<key>PROJECT_ID</key>
	<string>transfa-eb82e</string>
	<key>STORAGE_BUCKET</key>
	<string>transfa-eb82e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000260722803:ios:51ff98c8ff9a2d64e18a06</string>
</dict>
</plist>